html {
    font-size: 10px;
}
:root{
    --panel-color: rgba(47, 105, 109, 0.75);
    --font-color:rgb(255, 255, 255);
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

p {
    font-size: 2.2rem;
    margin: 2rem auto;
    width: 70ch;
    color:var(--font-color);
    
}

body {
    background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvc3YxNjg3MzUtaW1hZ2Uta3d5bmVqcXcuanBn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 2rem 5rem;
}
main{
    background-color: var(--panel-color);
    padding:4rem;
}
.header {
    font-size: 5rem;
    width: 30ch;
    margin: 0 auto;
    text-align: center;
    color:var(--font-color);
    font-family: 'Righteous',cursive;
}


.decision-button {
    width:25rem;
    height:8rem;
}

button{
    font-size:3rem;
    font-family: 'Righteous', cursive;
    border-style:solid;
}
.decision-buttons {
    
    
    width: fit-content;
    margin: 2rem auto;
}
.restart-parent{
    width:fit-content;
    margin:2rem auto;
}
.restart{
    width:15vw;
    height:8rem;
    
}
.start-button{
    width:75%;
    display:block;
    margin:2rem auto;
    height:8rem;
}

.center p{
    text-align: center;
}


.end-screen{
    display:flex;
}

.end-image-parent{
    width:fit-content;
}
.end-image{
    width:500px;
     border: 5px solid black;
     border-radius: 20px;
}